.career {
    width: 100%;
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    color: black;
}
.career-left {
    width: 48vw;
    margin-left: 10px;
    margin-right: 10px;
}
.career-left img {
    width: 40vw;
    padding-top: 90px;
}
.career-right {
    width: 48vw;
    margin-left: 20px;
    margin-right: 40px; 
    text-align: left;
}
.career-right h1 {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1.54px;   
}
.career-right-line {
    background: #005293;
    height: 4px;
    width: 60px;
    /* padding-left: 20px; */
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.career-right p {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 60px;
    letter-spacing: 1.54px;
    line-height: 2.54;
}
.career-right h2 {
    margin-top: 10px;
    padding-top: 60px;
    padding-left: 20px;
    line-height: 2.0;
    font-size: 18px;
}
.career-right button {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 100px;
    width: 320px;
    height: 60px;
    background: white;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
    border: 2px solid #005293;
    color: #005293;
    cursor: pointer;
    align-items: center; }
.career-right .arrow {
    border: solid #005293;
    border-width: 0 3px 3px 0;
}