.AboutSec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    width: 100%; }

.AboutSec-left {
    width: 40vw;
    color: black;
    text-align: left;
}

.AboutSec-right {
    width: 50vw;
}
.AboutSec-right img {
    width: 40vw;
}